<div class="spotify-embed">
    <iframe src="https://open.spotify.com/embed/{{type}}/{{id}}" width="{{getValue options.width "300"}}" height="{{getValue options.height "380"}}" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>